@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Spartan:wght@600&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Spartan", sans-serif;
}

img#img-logo {
  width: 150px !important;
}

#img-logo1 {
  width: 250px !important;
}

.bg-light {
  background-color: rgba(218, 218, 218, 0.2) !important;
}

.container {
  max-width: 1620px !important;
}

.btn.btn-dark {
  background-color: #1E1E1E !important;
  border: 1px solid #1E1E1E !important;
  color: #fff !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  border-radius: 50px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.btn.btn-dark:hover {
  background-color: #1E1E1E !important;
  border: 1px solid #1E1E1E !important;
  color: #fff !important;
  transition: all 0.2s ease-in-out;
}
.btn.btn-primary {
  background-color: #D97706 !important;
  border: 1px solid #D97706 !important;
  color: #fff !important;
  border-radius: 50px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.btn.btn-primary:hover {
  background-color: #D97706 !important;
  border: 1px solid #D97706 !important;
  color: #fff !important;
  border-radius: 50px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.btn.btn-outline-primary {
  border: 1px solid #D97706 !important;
  background-color: transparent;
  color: #D97706 !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  border-radius: 50px;
  font-weight: bold;
}
.btn.btn-outline-primary:hover {
  background-color: #D97706 !important;
  border: 1px solid #D97706 !important;
  color: #fff !important;
  font-weight: bold;
}
.btn.btn-outline-primary.active {
  background-color: #D97706 !important;
  border: 1px solid #D97706 !important;
  color: #fff !important;
  font-weight: bold;
}
.btn.btn-outline-primar {
  border: 1px solid #1E40AF !important;
  background-color: transparent;
  color: #1E40AF !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  border-radius: 50px;
  font-weight: bold;
}
.btn.btn-outline-primar:hover {
  background-color: #1E40AF !important;
  border: 1px solid #1E40AF !important;
  color: #fff !important;
  font-weight: bold;
}
.btn.btn-outline-light {
  border: 1px solid #fff !important;
  background-color: transparent;
  color: #fff !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  border-radius: 50px;
  font-weight: bold;
}
.btn.btn-outline-light:hover {
  background-color: #D97706 !important;
  border: 1px solid #D97706 !important;
  color: #fff !important;
  font-weight: bold;
}

.fsl {
  font-size: 16px !important;
}
.fsl:hover {
  color: #D97706;
}

.top {
  margin-top: 100px;
}

.search-box {
  padding: 20px;
  width: 100%;
  border: 1px solid #F5F5F5;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroller {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.ml-4 {
  margin-left: 20px;
}

.bg-blue-tr {
  background-color: #F1F9FD;
}

.bg-light-tr {
  background-color: #F5F5F5;
}

.bg-orange-tr {
  background-color: #FBF6FD;
}

.rond {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 25px;
  width: 70px;
  height: 70px;
}

.img-voiture {
  border-radius: 10px;
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-voiture3 {
  border-radius: 10px;
  width: 100%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.img-voiture1 {
  border-radius: 10px;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-article {
  border-radius: 10px;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-banner {
  width: 100%;
  height: 90vh;
  background-image: url(/src/assets/img/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 20px;
  padding: 50px;
}

.topy {
  margin-top: 250px;
}

.bg-banner2 {
  width: 100%;
  height: 30vh;
  background-image: url(/src/assets/img/banner3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 20px;
  padding: 50px;
}

.banner {
  width: 75vw;
  height: 100vh;
  background-image: url(/src/assets/img/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.text-decorate {
  color: #575757;
}

.a {
  text-decoration: none;
  color: #575757;
}
.a:hover {
  color: #D97706;
}

ul {
  margin-top: 15px;
}
ul li {
  margin-top: 10px;
  margin-left: -15px;
  text-decoration: none;
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  color: #575757;
}

.bg-primary {
  background-color: #D97706 !important;
}

.text-blue {
  color: #1E40AF;
}

.text-primar {
  color: #D97706;
}

.brr {
  border-radius: 10px;
}

.bg-whiter1 {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
}

.bg-whiter {
  background-color: rgba(255, 255, 255, 0.95);
}/*# sourceMappingURL=main.css.map */